$mobileSize: 150px;

.hammer-list{
 display: flex;
 list-style: none;
 justify-content: flex-start;
 flex-wrap: wrap;

 @media #{$mobile}{
   justify-content: center;
 }
}

.hammer-item{
 list-style: none;
 height: 200px;
 width: 200px;
 flex-basis: 200px;
 margin: 1rem;
 background-image: cover;
 border-radius: 50%;
 display: flex;
 align-items: center;

 @media #{$mobile}{
   height: $mobileSize;
   width: $mobileSize;
   flex-basis: $mobileSize;
   align-self: center;
 }
}

.hammer-name{
 color: $primary;
 font-size: 1.5rem;
 font-weight: 900;
 width: 100%;
 display: block;
 padding: .25rem;
 background-color: fade-out(white, .2);
 text-align: center;
 margin: 0;

 @media #{$mobile}{
   font-size: .9rem;
 }
}
